/* --------------------------- */
/* RESET */
/* --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* --------------------------- */
/* LAYOUT */
/* --------------------------- */

.container {
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

section {
  padding: 80px 0;
}

.subtitle {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.subtitle:after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  margin: 0 auto;
  background-color: crimson;
  margin-top: 10px;
}

/* --------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------- */

/* ---------- HEADER -----------*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 30px;
}

.nav {
  float: right;
}

.nav li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
  letter-spacing: 2px;
  font-size: 80%;
}

.nav li a:hover,
.nav li a:visited,
.nav li a:active,
.nav li a:link,
.brand:hover,
.brand:visited,
.brand:active,
.brand:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  padding-bottom: 0;
  transition: border-bottom 0.3s, padding 0.3s;
}

.nav li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid crimson;
}

.logo {
  font-size: 120%;
  font-weight: 600;
  color: crimson;
  letter-spacing: 2px;
  float: left;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-text {
  font-size: 340%;
}

.secondary-text {
  font-size: 120%;
}
.secondary-text,
.primary-text {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 5px;
}

/* ---- SECTION FEATURE---- */
.grid-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.feature {
  width: 33.3%;
  margin-right: 50px;
  padding: 10px;
  line-height: 150%;
  font-weight: 400;
}

.feature h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  color: crimson;
}

#skills {
  background-color: whitesmoke;
}

.skills-list {
  margin-left: 10%;
  list-style-type: none;
  float: left;
}

.skills-list li {
  margin-right: 30px;
  margin-top: 25px;
}

.skills-container {
  width: 50%;
  position: relative;
}

ion-icon {
  color: crimson;
}

.footer {
  background-color: #333;
  color: #ffffff;
  padding: 80px 0;
  font-size: 80%;
  font-weight: 300;
}

.footer-col {
  width: 33.3%;
  align-items: center;
}
