/* ------------------------ */
/* Big tablets */
/* ------------------------ */
@media only screen and (max-width: 1200px) {
}

/* ------------------------ */
/* small tablet to big tablet 768px to 1023px */
/* ------------------------ */
@media only screen and (max-width: 1023px) {
  .project {
    width: 250px !important;
    margin-bottom: 30px;
  }
}

/* ------------------------ */
/* small phones to small tablets 481px to 767px */
/* ------------------------ */
@media only screen and (max-width: 767px) {
  .feature,
  .skills-container,
  .about div {
    width: 100% !important;
  }
  .about-me-list {
    position: initial !important;
    top: 0% !important;
    transform: translate(0%, 0%) !important;
  }
  .skills-list {
    margin-top: 10px;
  }

  .nav,
  .brand {
    font-size: 60%;
  }
}

/* ------------------------ */
/* small phones 0 to 480px */
/* ------------------------ */
@media only screen and (max-width: 480px) {
  .skills-container:nth-child(2) {
    margin: 0 25%;
  }
  .form-container div:first-child,
  .form-container div:nth-child(2) {
    width: 100% !important;
  }
  .project {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .primary-text {
    font-size: 200% !important;
  }
}
